[Unit]
Description=GE Proton Updater
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/guardian/.dotfiles/update-ge-proton.sh
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target